@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookshopManagement.Models.Shop

@{
    ViewData["Title"] = "Shop Details";
}

<h1>Shop Details</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Name</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Location)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
                    
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
                    
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>
                    
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
                    
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Website)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Website)</dd>
                    
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OpeningYear)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.OpeningYear)</dd>
                </dl>
            </div>
        </div>
        
        @if (Model.BookShops.Any())
        {
            <div class="card mt-4">
                <div class="card-header">
                    <h5>Books Available</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Book Title</th>
                                    <th>Author</th>
                                    <th>Quantity</th>
                                    <th>Shop Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bookShop in Model.BookShops)
                                {
                                    <tr>
                                        <td>@bookShop.Book.Title</td>
                                        <td>@bookShop.Book.Author</td>
                                        <td>@bookShop.Quantity</td>
                                        <td>@(bookShop.ShopPrice?.ToString("C") ?? "N/A")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Actions</h5>
                <div class="d-grid gap-2">
                    <a asp-action="Edit" asp-route-id="@Model.ShopId" class="btn btn-warning">Edit Shop</a>
                    <a asp-action="Delete" asp-route-id="@Model.ShopId" class="btn btn-danger">Delete Shop</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
